.NavContainer {
    width: auto;
   padding: 0.4rem;
   background-color: #242424;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

 .NavContainer h2 {
   color: #FFF;
   font-weight: 400;
   font-size: 2.5rem;
   span {
      font-weight: bold;
   }
}

.NavContainer a {
    color: #FFF;
    text-decoration: none;
    margin-right: 1rem;
}
.NavContainer img {
    width: 3.5rem;
    cursor: pointer;
 }

.Btn-MenuHmb{
    color: #FFF;
}

.dropdown-menu{
    background-color: #242424;

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255 173 5);
}

.nav-link:hover, .nav-link:focus {
    color: rgb(255 173 5);
}

.dropdown-item:hover, .dropdown-item:focus{
    color: var(--bs-dropdown-link-hover-color);
    background-color: #ffad05;
}

.btn-navbar{
    height: fit-content;
}

@media(min-width: 769px){
    .Btn-MenuHmb{
        display: none;
    }
    .centro-navbar{
        display: flex;
        align-items: stretch;
        margin-left: 250px;
        margin-right: 250px;
    }
}
 @media(max-width: 769px){
    .logo-navbar{
        display: none;
    }
    .NavContainer a {
        display: none;
    }
} 

.IniciarSesion a{
    background: #0074E0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.IniciarSesion :hover{
    background: #E63946;
}