.addButton {
   width: 15%;
   margin-left: 1vh;
}
.confirmar {
   margin-left: 30%;
   width: 35%;
   border-radius: 5px;
   border-color: #fafafa;
   background-color: #1972d2;
   color: white;
   border-radius: 10%;
}
input{
   border-radius: 8%;
}

