.ProductoListTitle ,.titulo{
   font-size: 1.8rem;
   width: 10%;
   margin-top: 0.5%;
}
.ProductoListTitle {
   margin-top: 10%;
   margin-bottom: 3%;
   width: 100%;
   display: flex;
   flex-direction: row;
}
.productsContainer {
   border: solid black;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
} 
.productHeader, .productHeader .productHeader2{
   display: flex;
}
.productHeader h4{
   width: 100px;
   margin-left: 8.5%;
   justify-content: space-between;
   font-size: 1.2rem;
   font-weight: bold;
}
.productHeader .productHeader2 {
   margin-left: 5%;
}
.productHeader .productHeader2 h4{
   justify-content: space-between;
   margin-right: 43%;

}

